:root{
    --texto-pp: 18px;
    --texto-pequeno: 24px;
    --texto-px: 26px;
    --texto-pxx: 31px;
    --texto-meio-medio: 36px;
    --texto-medio: 48px;
    --texto-mx: 50px;
    --texto-grande: 54px;
}