@media (max-width:767px){
    *{
        margin: 0px;
    }

    .logo__titulo{
        padding: 25px 10px;
        align-items: center;
        justify-content: space-between;
    }

    .vetor__top{
        position: absolute;
    }

    .logo__titulo a img, .retangle, .vetor_nivel{
        display: none;
    }

    .logo__titulo h1 a{
        padding-left: 15px;
        font-size: 32px;
    }

    .container{
        width: 100%;
    }

    main .container .div-quiz{
        width: 90%;
        display: table;
        text-align: center;
        padding: 2rem 0 0 0;
    }

    .div-quiz .grafico, 
    .texto__trilhas img {
        width: 80%;
        margin: 0 auto;
        display: table-footer-group;
    }

    .div-quiz .lista-vamos-la{
        display: table-header-group;
    }

    .div-quiz .lista-vamos-la li{
        width: 100%;
    }

    .div-quiz .lista-vamos-la h2, 
    .texto__trilhas h2{
        font-size: 36px;
    }

    .div-quiz .lista-vamos-la p, 
    .texto__trilhas p{
        width: 100%;
        font-size: 16px;
    }

    .div-quiz .lista-vamos-la .li-vamos-la{
        display: block;
        width: 100%;
        position: absolute;
        margin-top: 420px;
    }

    .div-quiz .lista-vamos-la a{
        font-size: 24px;
    }

    .div__main-txt{
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .div__main-txt .texto__trilhas, 
    .div__mercado,
    .ul__mercado, 
    .conteudos, 
    .conteudos__nivel, .div__bonus, 
    .conteudos__bonus{
        display: block;
        width: 100%;
        padding: initial;
    }

    .div__mercado, 
    .div__moedas, 
    .div__nivel{
        background-color: #4A2597;
    }

    .div__mercado{
        padding: 10px 0;
    }

    .div__blocos{
        margin: 0 auto;
    }

    .div__blocos li{
        margin: 20px auto;
    }

    .conteudo-1{
        width: 150px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .ul-conteudo{
        padding: 10px;
    }

    .ul-conteudo li{
        background: linear-gradient(180deg, #260253 0%, #7F49B6 94.78%);
        width: 80%;
        padding: initial;
        padding: 15px 0;
        border-radius: 120px 70px 120px 70px;
        margin: 0 auto;
    }

    .ul-conteudo li .moedas{
        font-size: 16px;
        margin: 30px auto;     
    }

    .ul-conteudo li img{
        width: 161px;
    }

    .div__moedas .obs{
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .div__main-3 {
        margin: initial;
    }

    .div__nivel{
        display: block;
        width: 100%;
    }

    .conteudos__nivel{
        margin: 0 auto;
        text-align: center;
    }

    .ul-conservador, .ul-moderado, .ul-agressivo{
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .saiba__mais{
        margin: 20px auto;
        width: 90%;
    }

    hr{
        margin: 0 auto;
        text-align: center;
    }
}
