
body{
    font-family: 'Montserrat';
    background-color: #4A2597;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: var(--texto-grande);
    color: white;
    font-weight: 800;
}


.vetor__top{
    top: -4px;
    z-index: -1;
    position: absolute;
    width: 100%;
}

.container{
    width: 100%;
	margin: 0 auto;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
}

.logo__titulo{
    display: flex;
    align-items: center;
}

.cabecalho img{
    margin-top: 5px;
}

.container h1 a{
    color: white;
    font-weight: 900;
    font-size: var(--texto-meio-medio);
    text-decoration: none;
}

.container h1:hover {
    cursor: pointer;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    margin-right: 40px;
}

nav li a{
    text-decoration: none;
    font-family: var(--texto-pequeno);
    color: white;
    font-weight: 800;
}

nav li a:hover{
    color: rgb(167, 167, 167);
}

hr{
    z-index: 1;
    border-top: 3px solid #C6993C;
}

/*------INÍCIO MAIN------*/

.div-quiz{
    width: 100%;
    display:flex;
    margin: 0 auto;
    position: relative;
}

.div-quiz .grafico{
    margin: 0 4em;
}

.lista-vamos-la{
    margin-right: 2em;
    margin-top: 3em;
}

.lista-vamos-la h2{
    margin-bottom: 0.5em;
}

.lista-vamos-la li{
    text-align: center;
}

.lista-vamos-la li p{
    font-size: var(--texto-meio-medio);
    font-weight: 800;
    color: white;
    line-height: 1.3;
    margin-bottom: 2em;
}

.lista-vamos-la a{
    font-size: var(--texto-meio-medio);
    color: white;
    font-weight: 800;
    text-decoration: none;
    padding: 5px 15px;
    background-color: #D3A631;
    border: none;
    border-radius: 20px;
    transition: 0.2s;
}

.lista-vamos-la a:hover{
    background-color: #b17f02;
}

.vetor__bottom{
    margin: 0px auto;
    z-index: -1;
}

.vetor__top2{
    margin-top: -3px;
}

.div__main-txt{
    margin-top: -150px;
    width: 100%;
}

.texto__trilhas{
    width: 930px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.texto__trilhas h2{
    margin-bottom: 1rem;
}

.texto__trilhas p{
    width: 550px;
    font-size: var(--texto-px);
    font-weight: 800;
    color: white;
    line-height: 1.3;
}

.texto__trilhas img{
    margin-left: 100px;
}

.retangle{
    width: 100%;
    z-index: -2;
    position: absolute;
    top: -190px;
}

.div__mercado{
    text-align: center;
    position:relative;
    display: flex;
    margin: 0 auto;
    z-index: -2;
}

.div__blocos{
    width: 100%;
    margin-top: 7em;
}

.ul__mercado{
    margin: 0 auto;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
}

.status{
    margin-bottom: 8px;
    margin-top: -10px;
    text-align: end;
    font-size: 14px;
}

.ncomecou{
    margin-bottom: 35px;
}

.ul__mercado li{
    text-align: center;
    width: 281px;
    height: 482px;
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 18px;
    background-color: #B74F67;
}

#bloco-verde{
    background-color: #3C9C8C;
}

.ul__mercado h3{
    font-size: var(--texto-pequeno);
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
}

.ul__mercado p{
    font-size: var(--texto-pp);
    color: white;
    font-weight: 600;
    line-height: 21.94px;
}

.obs{
    text-align: end;
    margin-right: 60px;
    font-size: var(--texto-pp);
    font-weight: 800;
}

.hr-mercado{
    width: 92%;
}

.div__moedas{
    width: 100%;
    padding-top: 60px;
}

.titulo__moedas{
    text-align: center;
    position: relative;
    font-weight: 900;
}

.conteudos{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.conteudo-1{
    display: block;
}

.conteudo-1 img{
    text-align: center;
    padding: 0 10rem;
}

.ul-conteudo li{
    background-color: #4A2597;
    display: block;
    width: 469px;
    padding: 35px 45px 0 45px;
    box-sizing: border-box;
    border: none;
    border-radius: 234.5px 112px 234.5px 127px;
    margin-top: 5rem;
}

.ul-conteudo li p{
    color: white;
    font-size: var(--texto-mx);
    font-weight: 800;
    margin: 60px auto 20px auto;
}

.div__moedas p{
    margin-top: 60px;
}

.div__main-3{
    margin-top: -10px;
    margin-bottom: -10px;
}

.div__nivel{
    position: relative;
    padding-top: 60px;
}

.titulo__nivel{
    text-align: center;
    position: relative;
    font-weight: 900;
}

.conteudos__nivel{
    position: relative;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    justify-content: space-between;
    padding: 0 200px;
}

.ul-conservador{
    width: 276px;
    height: 325px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 29px;
    background-color: #A7A950;
    margin-bottom: 50px;
}

.ul-moderado{
    width: 276px;
    height: 455px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 29px;
    background-color: #4359A7;
    margin-bottom: 50px;
}

.ul-agressivo{
    width: 276px;
    height: 585px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 29px;
    background-color: #216739;
    margin-bottom: 50px;
}


.conteudos__nivel ul li img{
    height: 128px;
    width: 133px;
    margin: 30px 0;
    
}

.conteudos__nivel ul li p{
    color: white;
    font-weight: 800;
    line-height: 1.3;
}

.conteudos__nivel ul h3{
    color: white;
    font-size: var(--texto-px);
    font-weight: 800;
}

.ul-conservador h3{
 margin-top: 70px;
}

.ul-moderado h3{
    margin-top: 200px;
}

.ul-agressivo h3{
    margin-top: 330px;
}

.vetor_nivel{
    position: relative;
    margin-top: -310px;
    width: 100%;
}

.hr-nivel{
    width: 92%;
    position: relative;
}

.div__main-4{
    position: relative;
}
.div__bonus{
    width: 100%;
    padding-top: 60px;
    text-align: center;
}

.titulo__bonus{
    margin-top: 60px;
    text-align: center;
    position: relative;
    font-weight: 900;
}

.conteudos__bonus{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 100px;
}

.saiba__mais{
    width: 50%;
    margin-top: 10em;
}

.saiba__mais p{
    color: white;
    font-size: var(--texto-px);
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 30px;
}

.saiba__mais a{
    color: white;
    font-weight: 800;
    text-decoration: none;
    padding: 5px 15px;
    background-color: #D3A631;
    border: none;
    border-radius: 20px;
    transition: 0.2s;
}


.saiba__mais a:hover{
    background-color: #b17f02;
}

.imagem_bonus img{
    width: 380px;
}

footer{
    color: white;
    margin-top: 5rem;
    height: 156px;
    background-color: #C6993C;
    padding-top: 10px;
}

footer li{
    margin: 20px;
}

footer .sp_titulo{
    font-size: var(--texto-px);
    font-weight: 800;
}
