
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap);

body{
    background-color: #431F8F;
    color: white;
    font-family: 'Montserrat';
    height: 600px;
}

.vetor-1{
    position: absolute;
    width: 100%;
    top: 0;
}

.vetor-2{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}

main{
    position: relative;
}

.caixa{
    position: relative;
    width: 1250px;
    height: 620px;
    margin: 15px auto;
    border: none;
    background: linear-gradient(180deg, #260253 0%, #7F49B6 94.78%);
    border-radius: 200px 80px 200px 80px;
    display: flex;
    align-items: center;
}

.caixa div{
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 700px;
}

.caixa div p{
    font-size: 38px;
    margin-bottom: 100px;
}


.btn-iniciar a{
    position: absolute;
    float: inline-end;
    font-size: 24px;
    background: rgba(211, 166, 49, 0.9);
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    transition: .2s;
    left: 250px;
}

.btn-iniciar a:hover{
    cursor: pointer;
    font-size: 26px;
    background: rgba(212, 167, 50, 1);
    padding: 10px 25px;
    left: 244px;
}

.porfit{
    width: 350px;
    position: absolute;
    bottom: -22px;
}