@media (max-width:767px){
    *{
        margin: initial;
	    padding: initial;
    }

    .container-master{
        height: 100vh;
        padding-top: 20px;
    }

    .caixa{
    	width: 90%; 
    	height: 90vh;
        margin: 0 auto;
    }

	.caixa div {
	    width: 90%;
        margin: 0 auto;
	}

	.porfit{

	}

	.btn-iniciar a{
		position: initial;
	}
}
